imap_tools==1.7.2
imbox==0.9.8
protobuf==3.20.3
streamlit==1.36.0
certifi
firebase_admin
folium
geopy
ipython
pandas
PyPDF2
st_circular_progress
tkcalendar
xmltodict
google-generativeai
streamlit-option-menu
streamlit-calendar
streamlit_carousel
distutils
